* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #333;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #fff;
  }
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
  }
  
  #msg {
    color: #fff;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }